<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Ingredient to Inventory</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<style>
table, th, td {
  border:1px solid black;
  background-color: white;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
</head>

<body>
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('addIngredientCtrl', function($scope, $http) {
			
			
			function getInventory() {
				$http.get("/api/v1/inventory").then(function (response) {
	  				$scope.inventoryOriginal = response.data;
	  			});
			}
			
			
			
			$scope.ingredient = {
					name : '',
					amount : ''
			}
			
			
			//$scope.addIngredienttable = function() {
			//	$scope.inventoryOriginal.push($scope.ingredient)
			//}
			
			$scope.reset = function() {
				$scope.ingredient = {
					name : '',
					amount : ''
				};
				
				if (undefined != $scope.addIngredientForm) {
					$scope.addIngredientForm.$setPristine(); // reset Form
				}
			}

			$scope.submit = function() {
				$scope.addIngredient();
				//$scope.addIngredienttable();
				$scope.reset();
			}
			
			$scope.addIngredient = function() {
				
				$http.post("/api/v1/ingredients", $scope.ingredient).then(
						function(response ) {
								$scope.submissionSuccess=true;
								console.log(response);
								
							getInventory();
							
						}, function(rejection) {
							console.error("Error while adding Ingredient");
							$scope.submissionSuccess=false;
						});
			}

			getInventory();
			$scope.reset();
			
			
		});
		
		/*]]>*/
	</script>

	<div class="generic-container ng-cloak" ng-app="myApp"
		ng-controller="addIngredientCtrl as ctrl">>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Add an Ingredient</span>
			</div>

			<div class="formcontainer">
				<form name="addIngredientForm"
						class="form-horizontal">
				
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable"> Ingredient Name</label>
								<div class="col-md-7">
										<input type="text" ng-model="ingredient.name" name="name" class="name form-control input-sm"
											placeholder="Enter Ingredient Name" required="0" />
											
										</div>
									</div>
								</div>
								
					<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable">Amount to Add</label>
									<div class="col-md-7">
										<input type="number" ng-model="ingredient.amount" name="amount"
											class="price form-control input-sm"
											placeholder="Enter Ingredient Amount" required="0" min="0" />
									</div>
								</div>
							</div> 
				
					<div class="row">	
							<div class="form-actions floatRight">
								<input type="submit" value="Submit" class="btn btn-primary btn-sm" ng-click="submit()" />
								<button type="button" ng-click="reset()" 
									class="btn btn-warning btn-sm">Reset Form</button>
							</div>
					</div>
					<div ng-if="submissionSuccess">Ingredient added successfully</div>
						
					</form>
						<table style = "width:20%">
						  <tr>
						    <th>Ingredient</th>
						    <th>Amount</th>
						  </tr>
						   <tr ng-repeat="item in inventoryOriginal.ingredients">
						    <td>{{item.name}}</td>
						    <td>{{item.amount}}</td>
						  </tr>

						</table>
				</div>
			</div>
			
		<a href="/index">Home</a>
	</div>


</body>
</html>
