<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a Recipe</title>
<style>



.has-error {
    color: red;
}


</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>

	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('addRecipeCtrl', function($scope, $http, $q) {
			console.log("Hit!");

			$scope.reset = function() {
				$scope.recipe = {
					name : '',
					price : '',
                    ingredients : [],
				};
                $scope.ingredient = {
					name : '',
					amount : '',
				};
				if (undefined != $scope.addRecipeForm) {
					$scope.addRecipeForm.$setPristine(); // reset Form
					 $http.get("/api/v1/inventory").then(function(response) {
			            	for(var i=0;i<response.data.length;i++) {
			   					$scope.inventoryList.push(response.data[i].name); 

							} 
			         });
				}	
			}

            $scope.resetIngredient = function() {
                $scope.ingredient = {
					name : '',
					amount : '',
				}; 
			}


            $scope.inventoryList = [];

          //call inventory api in this. 
            $http.get("/api/v1/inventory").then(function(response) {
            	for(var i=0;i<response.data.length;i++) {
   					$scope.inventoryList.push(response.data[i].name); 

				} 
            });
          
            $scope.ingredient = {
					name : "",
					amount : "",
				};

            $scope.removeIngredient = function(currName) {
                $scope.recipe.ingredients.splice($scope.recipe.ingredients.indexOf(currName), 1);
                $scope.inventoryList.push(currName.name);
            }

			$scope.submit = function() {
				$scope.addRecipe();

				$scope.reset();
			}

            $scope.addIngredient = function() {
                $scope.recipe.ingredients.push($scope.ingredient);
                $scope.inventoryList.splice($scope.inventoryList.indexOf($scope.ingredient.name), 1);
                $scope.resetIngredient();
            }
            


			$scope.addRecipe = function() {
				$scope.success = false;
				$scope.failure = false;

				$http.post("/api/v1/recipes", $scope.recipe).then(
						function(success) {
							$scope.success = true;
							$scope.failure = false;
						}, function(rejection) {
							console.error("Error while adding recipe");
						});
			}

			$scope.reset();

		});
		/*]]>*/
	</script>
   
		<div ng-app="myApp" class="generic-container ng-cloak"
		ng-controller="addRecipeCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead"><u>Add a Recipe</u></span>
			</div>

			<div class="formcontainer">
				<form ng-submit="submit()" name="addRecipeForm"
					class="form-horizontal">

					<div class="add-recipe">
                        <label class="col-md-2 control-lable" for="file">Recipe</label>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="file">Name</label>
                                <div class="col-md-7">
                                    <input type="text" ng-model="recipe.name" name="name"
                                        class="recipe name form-control input-sm"
                                        placeholder="Enter recipe name" required="0" />
                                    <div class="has-error" ng-show="addRecipeForm.$dirty">
                                        <span ng-show="addRecipeForm.name.$error.required">This
                                            is a required field.</span> <span
                                            ng-show="addRecipeForm.name.$invalid">This field is
                                            invalid.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="file">Price</label>
                                <div class="col-md-7">
                                    <input type="number" ng-model="recipe.price" name="price"
                                        class="price form-control input-sm"
                                        placeholder="Enter recipe price" required="0" min="0"/>
                                    <div class="has-error" ng-show="addRecipeForm.$dirty">
                                        <span ng-show="addRecipeForm.price.$error.required">This
                                            is a required field.</span> <span
                                            ng-show="addRecipeForm.price.$error.min">Minimum amount
                                            is 0.</span> <span ng-show="addRecipeForm.price.$invalid">This
                                            field is invalid.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</form>
			</div>
            <div class="formcontainer">
				<form name="addIngredientForm"
					class="form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-lable" for="file">Ingredient To Add</label>
                            <div class="col-md-7">
                                <select ng-model="ingredient.name" required="true" name="ingredientname"
                                    ng-options="item as item for item in inventoryList">
                                <option value="" disabled> + Add New Ingredient </option>
                                <div class="has-error" ng-show="addRecipeForm.$dirty">
                                    <span ng-show="addIngredientForm.ingredientname.$error.required">This is a required field.</span> 
                                    <span ng-show="recipe.ingredients.length==0">This is a required field.</span> 
                                </div>
                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-2 control-lable" for="file">Amount</label>
                                <div class="col-md-7">
                                    <input type="number" ng-model="ingredient.amount" name="ingredientamount"
                                        class="ingredientamount form-control input-sm"
                                        placeholder="Enter amount of ingredient" required="0" min="0"/>
                                    <div class="has-error" ng-show="addRecipeForm.$dirty">
                                        <span ng-show="addIngredientForm.ingredientamount.$error.required 
                                        && recipe.ingredients.length==0">This is a required field.</span> 
                                        <span ng-show="addIngredientForm.ingredientamount.$error.min">Minimum
                                        amount is 0.</span> 
                                        <span ng-show="addIngredientForm.ingredientamount.$invalid && recipe.ingredients.length==0">This field is invalid.</span>
                                        <span ng-show="recipe.ingredients.length==0 && !addIngredientForm.ingredientamount.$dirty">Must have at least 1 ingredient.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button ng-disabled="addIngredientForm.ingredientname.$invalid || addIngredientForm.ingredientamount.$invalid"
                        ng-click="addIngredient()">Add Ingredient To Recipe</button>
                    </div> 
                    <br>

				
                    <div class="panel-heading">Ingredients In Recipe</u></span>
                    </div>
                    <table style = "width:40%">
                        <tr>
                            <th>Ingredient</th>
                            <th>Amount</th>
                        </tr>
                        <tr ng-repeat="item in recipe.ingredients">
                            <td> {{item.name}} </td>
                            <td> {{item.amount}} </td>
                            <td> 
                                <button type="button" ng-click="removeIngredient(item)">Remove</button>
                            </td>
                        </tr>
                    </table>
				</form>
			</div>
            <div class="formcontainer">
				<form ng-submit="submit()" name="actions" class="form-horizontal">
                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit" value="Submit"
                                class="btn btn-primary btn-sm"
                                ng-disabled="addRecipeForm.$invalid || recipe.ingredients.length==0" />
                            <button type="button" ng-click="reset()"
                                class="btn btn-warning btn-sm"
                                ng-disabled="addRecipeForm.$pristine && addIngredientForm.$pristine">Reset Form
                            </button>
                        </div>
                    </div>
                </form>
            </div>
			<div ng-show="success">Recipe Created</div>
			<div ng-show="failure">Error while adding recipe.</div>

		</div>

		<a href="/index">Home</a>
	</div>



</body>
</html>
